{% extends "index.html" %}
{% load static %}
{% block home %}
<section class="site-hero overlay" style="background-image: url('{% static 'images/slider-3.jpg' %}')" data-stellar-background-ratio="0.5">

    <div class="container">
        <div class="row site-hero-inner justify-content-center align-items-center">
          <div class="col-md-10 text-center" data-aos="fade-up">
            <span class="custom-caption text-uppercase text-white d-block  mb-3">Welcome To Sogo   Hotel</span>
            <h1 class="heading">Booking</h1>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->
    <section class="py-5 bg-light m-5">
        <div class="container text-center">
            <h2 class="text-center"> Rooms</h2>
            {% if error_message %}
                <div class="alert alert-danger" role="alert">
                    {{ error_message }}
                </div>
            {% endif %}
            
            <form id="availability-form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-2">
                        <label class="text-dark">Type of Room</label>
                        {{ form.room_type }}
                    </div>
                    <div class="col-lg-2">
                        <label class="text-dark">Number of Rooms</label>
                        {{ form.no_of_rooms }}
                    </div>
                    <div class="col-lg-2">
                        <label class="text-dark">Check in</label>
                        {{ form.check_in_date }}
                    </div>
                    <div class="col-lg-2">
                        <label class="text-dark">Check out</label>
                        {{ form.check_out_date }}
                    </div>
                    <div class="col-lg-2">
                        <label class="text-dark">Time</label>
                        {{ form.check_in_time }}
                    </div>
                    <div class="col-lg-2">
                        <button type="submit" class="btn btn-primary">Check Availability</button>
                    </div>
                </div>
            </form>
        
            <div id="availability-result" style="margin-top: 5rem;" ></div>
            <div id="available-rooms" style="margin-top: 5rem; display: flex; gap: 8rem;"></div>

    <script>
        $('#availability-form').on('submit', function(event) {
            event.preventDefault();
            $.ajax({
                url: "{% url 'single_room' %}",
                type: "POST",
                data: $(this).serialize(),
                success: function(response) {
                    if (response.available) {
                        $('#availability-result').html('<p>Rooms are available!</p><button id="show-rooms" class="btn btn-success">Show Rooms</button>');
                        $('#show-rooms').on('click', function() {
                            $('#available-rooms').html('');
                            response.rooms.forEach(function(room) {
                                $('#available-rooms').append(
                                    `<div>
                                        <h3>${room.room_type}</h3>
                                        <p>Room Number: ${room.room_number}</p>
                                        <p>Price: $${room.price}</p>
                                        <a href="/book/${room.id}/?check_in_date=${response.check_in_date}&check_out_date=${response.check_out_date}" class="btn btn-primary">Book Now</a>
                                    </div>`
                                );
                            });
                        });
                    } else {
                        $('#availability-result').html('<p>Rooms are not available.</p>');
                        $('#available-rooms').html('');
                    }
                },
                error: function(xhr, errmsg, err) {
                    $('#availability-result').html('<p>There was an error. Please try again.</p>');
                }
            });
        });
    </script>
        

        </div>
    </section>
    
    
    
{% endblock home %}